$blue: #1e8bc3;
$light-blue: #5db8e6;
$white: #f0f0f0;
$black: #000000;

/*******************
      FONTS
*******************/

@font-face
{
  font-family : "Simplifica";
  src         : url("../fonts/simplifica.ttf");
}
