.container
{
  display: flex;
  flex-direction: column;

  .title
  {
    margin: 0 auto;
  }

  form
  {
    display        : flex;
    flex-direction : column;
    width          : 600px;
    margin         : 0 auto 50px;

    input, textarea
    {
      margin-top : 20px;
    }

    textarea
    {
      padding-top : 30px;
    }
  }
  .browse
  {
    width: 300px;
    margin: 0 auto;
  }

  .back
  {
    width: 100px;
    margin-bottom: 50px;
  }
}